body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.userList{
    width: 1080px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
}

form{
    width: 500px;
    height: 300px;
}

p{
    font-size: 16px;
    margin: 18px 0 8px;
}

input{
    width: 500px;
    height: 40px;
    padding-left: 12px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

input:focus {
    border: 2px solid rgb(135, 206, 250);
    outline: none;
    box-shadow: 0px 0px 5px 3px rgba(117, 202, 255, 0.6)
}

table{
    width: 500px;
    margin-top: 38px;
    border: 0; 
    border-collapse: collapse;
    border-color: red;
    border-spacing: 0px;
}

thead{
    height: 50px;
    font-size: 16px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    
}

.btn-add-user{
    width: 100px;
    height: 50px;
    margin-top: 20px;
    background-color: inherit;
    border: 2px solid lightgreen;
    border-radius: 5px;
    display: block;
}

.btn-add-user-none{
    display: none;
}


.save-user{
  display: none;
  width: 100px;
  height: 50px;
  margin-top: 20px;
  background-color: inherit;
  border: 2px solid lightgreen;
  border-radius: 5px;
}

th{
    width: 85px;
    height: 50px;
}

td{
    width: 85px;
    height: 50px;
    text-align: center; 
    vertical-align: initial;
}

.edit{
    display: none;
}

button{
    cursor: pointer;
}

.edit-block{
    width: 80px;
    height: 35px;
    background-color: rgb(245, 245, 129);
    border-radius: 5px;
    border: none;
    outline: none;
    display: block;
    margin: 2px auto;
}

.delete{
    display: none;
}

.delete-block{
    width: 80px;
    height: 35px;
    color: white;
    background-color: rgb(231, 79, 86);
    border-radius: 5px;
    border: none;
    outline: none;
    display: block;
    margin: 2px auto;
}